{% extends 'base.html' %}
{% load static %}

{% block titulo %}
AutoGest
{% endblock %}

{% block content %}

    <header class="min-h-screen bg-black bg-opacity-25 bg-blend-overlay showcase border-gray-600 border-b-8 flex justify-center items-center bg-no-repeat">
        <div class="grid gap-5 grid-cols-2 py-5 px-5">
            <div class="">
                <img src="{% static 'images/1.jpg' %}">
            </div>
            <div class="py-10 px-10 flex flex-col justify-center items-center gap-2">
                <div class="basis-1/5 w-200 p-4 flex justify-center items-center m-2 p-2" style="background-color: #4ade80;">
                    <strong>
                        <font face="Arial" size="4px">"AutoGestor" o Gestor do seu Negócio </font>
                    </strong>
                </div>
                <div class="basis-1/5 flex justify-center items-center px-3" style="background-color: #4ade80;">
                    <font face="Arial" size="3px">Gerir sua empresa nunca foi tão fácil</font>
                </div>
                <div class="basis-1/5 rounded-md flex justify-center items-center px-3 font-sans" style="background-color: #23c003;">
                    <a href="#">
                        <button>
                            Criar Conta
                        </button>
                    <a>
                </div>
                <div class="basis-1/5 rounded-md flex justify-center items-center px-3 font-sans" style="background-color: #55caf8;">
                    <a href="#">
                        Já tem uma conta? Faça login
                    </a>
                </div>            
            </div>
        </div>
    </header>

    <hr class="min-h-screen bg-black bg-opacity-25">

    <div class="min-h-screen bg-black bg-opacity-25">
        s



    </div>



    
{% endblock %}